* {
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  background-size: 30rem 70rem;
}
.box > .header {
  width: 100%;
  height: 5rem;
  background-color: #FF8A00;
}
.box > .header > .Img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box > .header > .Img > img {
  width: 4rem;
  height: 4rem;
}
.box > .header > .Img > img:nth-of-type(1) {
  width: 12rem;
  height: 4rem;
}
.box > .nav {
  width: 100%;
  height: 5rem;
  display: flex;
  text-align: center;
  padding: 0 2rem;
  font-size: 1.5rem;
  line-height: 5rem;
  box-sizing: border-box;
}
.box > .nav > a {
  color: black;
  text-decoration: none;
}
.box > .content {
  width: 100%;
  overflow: hidden;
}
.box > .content > .content1 {
  width: 100%;
  height: 15rem;
}
.box > .content > .content1 > img {
  width: 100%;
  height: 100%;
}
.box > .content > .content2 {
  width: 100%;
  height: 6rem;
  display: flex;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}
.box > .content > .content2 > p:nth-of-type(1) {
  width: 80%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  border-right: 1px solid gray;
  box-sizing: border-box;
}
.box > .content > .content2 > .content21 {
  margin: auto;
}
.box > .content > .content2 > .content21 > p {
  margin-left: 0.5rem;
}
.box > .content > .content3 {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #bebbbb;
}
.box > .content > .content3 > .content31 {
  width: 25%;
  margin: auto;
}
.box > .content > .content3 > .content31 > p {
  font-size: 1.5rem;
  text-align: center;
}
.box > .content > .content3 > .content31 > p:nth-of-type(2) {
  color: orange;
}
.box > .content > .content3 > .content31:nth-of-type(2) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.box > .content > .content4 {
  width: 100%;
  height: 20rem;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.box > .content > .content4 > .content41 {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
}
.box > .content > .content4 > .content41 > p {
  font-size: 1.7rem;
}
.box > .content > .content4 > .content41 > p:nth-of-type(2) {
  margin-left: 10rem;
}
.box > .content > .content5 {
  width: 100%;
}
.box > .content > .content5 > .content51 {
  width: 95%;
  margin: 0 auto;
  background-color: red;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
  margin: 1rem;
}
.box > .content > .content5 > .content51 > .content511 {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid gray;
  padding: 0.5rem;
  box-sizing: border-box;
  background: url(../img/rentalList/right.png) no-repeat 400px 10px;
}
.box > .content > .content5 > .content51 > .content511 > p {
  font-size: 2rem;
  color: orange;
}
.box > .content > .content5 > .content51 > .content512 {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.box > .content > .content5 > .content51 > .content512 > p {
  font-size: 1.2rem;
}
.box > .content > .content6 {
  width: 100%;
  height: 6rem;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  box-sizing: border-box;
}
.box > .content > .content6 > .content61 > p {
  font-size: 1.4rem;
  margin: auto;
}
.box > .content > .content6 > .content62 > img {
  width: 3rem;
  height: 3rem;
}
.box > .content > .content6 > .content62 > p {
  color: greenyellow;
  font-size: 1.4rem;
}
.box > .content > .content6 > .content63 > img {
  width: 3rem;
  height: 3rem;
}
.box > .content > .content6 > .content63 > p {
  color: skyblue;
  font-size: 1.4rem;
}
.box > .bottom {
  width: 100%;
  background-color: #2b2a2a;
}
.box > .bottom > .bottomtop {
  width: 90%;
  height: 5rem;
  display: flex;
  text-align: center;
  padding: 0 2rem;
  font-size: 1.7rem;
  line-height: 5rem;
  color: white;
  border-bottom: 1px solid #aaa8a8;
  margin: 0 2rem;
  overflow: hidden;
  box-sizing: border-box;
}
.box > .bottom > .bottomcenter {
  width: 90%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 1rem 2rem;
  color: white;
  box-sizing: border-box;
}
.box > .bottom > .bottomcenter > .one {
  width: 50%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
.box > .bottom > .bottomcenter > .one > img {
  display: inline-block;
  width: 2rem;
  height: 3rem;
}
.box > .bottom > .bottomcenter > .one > p {
  width: 10rem;
  display: inline-block;
}
.box > .bottom > .bottomcenter > .two {
  width: 50%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
.box > .bottom > .bottomcenter > .two > img {
  display: inline-block;
  width: 2rem;
  height: 3rem;
}
.box > .bottom > .bottomcenter > .two > p {
  width: 10rem;
  display: inline-block;
}
.box > .bottom > .bottomdown {
  width: 90%;
  height: 5rem;
  text-align: center;
  margin: auto;
  color: white;
}
#A > .content5121 {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
#A > .content5121 > p {
  font-size: 1.2rem;
  font-weight: 600;
}
#A > .content5122 {
  width: 100%;
  height: 20rem;
  border: 1px solid gray;
  box-sizing: border-box;
}
#A > .content5122 > img {
  width: 100%;
  height: 20rem;
}
